body{
    background-color:tan;
}
h2{
    background-color: rosybrown;
    font-family: cursive;
    text-align: center;
    font-size: large;
    margin-top: 15%;
    border: 2px solid black;
    padding: 7% 15%;
}
h1{
    color: black;
}